* {
    margin:0;
    padding:0;
}

.bg {
    background:url(https://i.ibb.co/fSn0shk/love.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.menu {
    padding-top: 10px;
    padding-left: 10px;
}

.menu img {
    width: 6vh;
    height: 6vh;
}